.view-research-lifecycle {
  border-left: thick solid #546e7a;
  padding-left: 10px;
}
/*
.view-research-lifecycle .row .research_lifecycle_stage.name .card-title {
  border-top: thick solid #546e7a;
  padding-left: 40px;
  margin-left: -40px;
}
*/


.Plan_Design {

}

.Create_Collect_Capture {

}

.Analyze_Interpret {

}

.Write_up_Publish {

}

.Discover_Re-use {

}